:root {
    --color-main: #0dff00;
    --color-highlight: #ff6614;
    --color-bg-dark: #474747;
    --color-bg-light: #4f4f4f;

    --color-txt-dark: #000;
    --color-txt-light: #fff;

    --color-guess-success: #00ff00;
    --color-guess-close: #ffc300;
    --color-guess-wrong: #ff0000;

    --color-btn-bg: #0ad100;
    --color-btn-bg-hover: #09b100;
}

body {
    font-family: "Roboto Mono", monospace;
    color: #fff;
    background: linear-gradient(to bottom, #170052, #4a0689, #4a0060);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    border: 1px solid var(--color-highlight);
    border-radius: 2px;
    padding: 4rem;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input {
    background-color: var(--color-bg-light);
    outline: 1px solid rgb(0, 0, 0);
    border: none;
    width: 64px;
    height: 64px;
    padding: 0px;
    margin: 0;
    font-size: 2.4rem;
    text-align: center;
    color: var(--color-main);

    /* animated props */
    transform-style: preserve-3d;
    perspective: 1000px;
    opacity: 0;

    &.guess {
        &.correct {
            animation: flip-correct 0.4s ease-in forwards;
            animation-delay: calc(var(--index, 0) * 0.25s);
        }

        &.almost {
            animation: flip-almost 0.4s ease-in forwards;
            animation-delay: calc(var(--index, 0) * 0.25s);
        }

        &.wrong {
            animation: flip-wrong 0.4s ease-in forwards;
            animation-delay: calc(var(--index, 0) * 0.25s);
        }
    }
}


@keyframes flip-correct {

    0% {
        transform: rotateX(0);
        background-color: var(--color-bg-light);
    }

    50% {
        transform: rotateX(180deg);
        background-color: var(--color-bg-light);
    }

    51%,
    100% {
        background-color: var(--color-guess-success);
        color: var(--color-txt-light);
    }

    100% {
        transform: rotateX(360deg);
    }
}

@keyframes flip-almost {

    0% {
        transform: rotateX(0);
        background-color: var(--color-bg-light);
    }

    50% {
        transform: rotateX(180deg);
        background-color: var(--color-bg-light);
    }

    51%,
    100% {
        background-color: var(--color-guess-close);
        color: var(--color-txt-light);

    }

    100% {
        transform: rotateX(360deg);
    }
}

@keyframes flip-wrong {

    0% {
        transform: rotateX(0);
        background-color: var(--color-bg-light);
    }

    50% {
        transform: rotateX(180deg);
        background-color: var(--color-bg-light);
    }

    51%,
    100% {
        background-color: var(--color-guess-wrong);
        color: var(--color-txt-light);

    }

    100% {
        transform: rotateX(360deg);
    }
}

.inputWrapper {
    position: relative;
    display: inline-block;
    padding: 0 3px;
}

.higher::before {
    content: "v";
    position: absolute;
    z-index: 9999;
    transform: rotate(0.5turn);
    line-height: 1;
}

.lower::before {
    content: "v";
    position: absolute;
    z-index: 9999;
    line-height: 0.5;
}

fieldset {
    border: none;
    padding: 0;
    margin: 16px 0;
    display: flex;
    color: var(--color-main);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu h2 {
    color: var(--color-highlight);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.menu p {
    margin: 1rem 0;
    font-size: 1.2rem;

    &:last-of-type {
        margin-bottom: 2rem;
    }
}

.button-lg {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--color-btn-bg);
    color: var(--color-txt-light);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button-lg:hover {
    background-color: var(--color-btn-bg-hover);
}

#topbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--color-highlight);
}

.topbar-right {
    display: flex;
    margin-right: auto;

    p {
        color: var(--color-highlight);
        font-size: 16px;
        margin: 0;
        padding: 2px 8px;
    }
}

.topbar-left {
    display: flex;
    margin-left: auto;
}

.topbar-btn {
    background-color: transparent;
    color: var(--color-highlight);
    border: none;
    border-left: 1px solid var(--color-highlight);
    text-align: center;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.topbar-btn:hover {
    background-color: var(--color-highlight);
    color: var(--color-txt-light);

    & .game-info-tooltip {
        display: block;
        opacity: 1;
    }
}

.game-info-tooltip {
    position: absolute;
    display: none;
    opacity: 0;
    z-index: 999;
    top: 26px;
    right: 0;
    background-color: var(--color-bg-light);
    color: var(--color-txt-light);
    padding: 8px;
    font-size: 12px;
    text-align: start;
    width: 200px;
}

.reset-guess {
    animation: reset-guess 0.5s ease forwards;
}

@keyframes reset-guess {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}