:root {
    --color-main: #0dff00;
    --color-highlight: #ff6614;
    --color-bg-dark: #474747;
    --color-bg-light: #4f4f4f;

    --color-txt-dark: #000;
    --color-txt-light: #fff;

    --color-guess-success: #00ff00;
    --color-guess-close: #ffc300;
    --color-guess-wrong: #ff0000;

    --color-btn-bg: #0ad100;
    --color-btn-bg-hover: #09b100;
}

body {
    font-family: "Roboto Mono", monospace;
    color: #fff;
    background: linear-gradient(to bottom, #170052, #4a0689, #4a0060);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    border: 1px solid var(--color-highlight);
    border-radius: 2px;
    padding: 4rem;
}

input {
    background-color: var(--color-bg-light);
    outline: 1px solid rgb(0, 0, 0);
    border: none;
    width: 36px;
    height: 36px;
    padding: 0px;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-main);

    &.guess {
        &.correct {
            background-color: var(--color-guess-success);
            color: var(--color-txt-light);
        }

        &.almost {
            background-color: var(--color-guess-close);
            color: var(--color-txt-light);
        }

        &.wrong {
            background-color: var(--color-guess-wrong);
            color: var(--color-txt-light);
        }
    }
}

.inputWrapper {
    position: relative;
    display: inline-block;
    padding: 0 3px;
}

.higher::before {
    content: "⬆️";
    position: absolute;
}

.lower::before {
    content: "⬇️";
    position: absolute;
}

fieldset {
    border: none;
    padding: 0;
    margin: 16px 0;
    display: flex;
    color: var(--color-main);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu h2 {
    color: var(--color-highlight);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.menu p {
    margin: 1rem 0;
    font-size: 1.2rem;

    &:last-of-type {
        margin-bottom: 2rem;
    }
}

.button-lg {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--color-btn-bg);
    color: var(--color-txt-light);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button-lg:hover {
    background-color: var(--color-btn-bg-hover);
}